*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #353535;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
nav{
    height: 67px;
}
nav .row{
    justify-content: space-between;
}
.logo{
    margin: 13px 0 0 0;
}
.menu{
    margin: 18px 0 0 0;
}
.menu a{
    color: #353535;
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    margin-right: 30px;
}
.menu a:last-child{
    margin-right: 0;
}
.hero-image-1{
    margin: 50px auto;
}
.hero-image-text{
    margin: -200px 0 0 0;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 5px;
}
.box span{
    border: 1.5px solid #fff;
    width: 84px;
    height: 0;
    margin-top: 20px;
}
.box p{
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: #fff;
}
.project-title{
    margin: 100px 0 50px 0;
}
.project-titles{
    width: 950px;
    display: flex;
    justify-content: space-between;
}
.project-titles a{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
}
.a-btn{
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}
.a-btn a{
    padding: 15px 45px;
}
.projects{
    margin-bottom: 100px;
}
.projects .row{
    justify-content: space-between;
}
.project-card{
    width: 47%;
}
.project-card img{
    margin-bottom: 10px;
}
.project-card a{
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7a7a7a;
}
.project-card h2{
    font-weight: 600;
    font-size: 24px;
    color: #353535;
    margin: 10px 0 30px 0;
}
.footer{
    margin-top: 100px;
}
.footer-bg{
    width: 1300px;
    height: 480px;
    background: #575757;
}
.footer strong{
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
}
.stickers{
    width: 10%;
}
.stickers svg{
    margin: 180px 0 0 100px;
}
.stickers img{
    margin: 120px 0 0 0;
}
.footer-left{
    width: 27%;
    margin: 80px 0 0 0;
}
.footer-left img{
    margin-bottom: 200px;
}
.footer-left small{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
}
.footer-mid{
    width: 30%;
    margin: 55px 0 0 0;
}
.footer-mid h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 200%;
    color: #fff;
}
.footer-mid p{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
    margin-bottom: 115px;
}
.footer-mid small{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
}
.footer-right{
    width: 30%;
    margin: 120px 0 0 30px;
    text-align: center;
    justify-content: center;
}
.footer-right a{
    font-size: 20px;
    line-height: 180%;
    border-radius: 20px;
    padding: 15px 45px;
}
.hero-btn .cv{
    background: #fc0;
    color: #fff;
    padding-right: 55px;
    background-image: url(./lucide_send.png);
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-size: 20px; 
}
.follow-links{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
.follow-links p{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #fff;
}
.follow-links a{
    width: 50px;
    margin: -20px 0 0 -20px;
}
.a-bg{
    border-radius: 100%;
    background-color: #484848;
    width: 48px;
    height: 48px;
}
.a-bg img{
    margin: 12px 0 0 0;
}
